@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Meie+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "ClementePDai";
    src: url("./fonts/ClementePDai/ClementePDai-Regular.ttf");
  }
  * {
    font-family: "Ubuntu", sans-serif;
  }

  .logo-font {
    font-family: "ClementePDai", "Ubuntu", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium text-accent;
  }

  h1 {
    @apply text-[5rem] max-xl:text-[4.5rem] max-lg:text-[3.75rem] max-md:text-5xl max-sm:text-[2rem];
  }
  h2 {
    @apply text-[4.375rem] max-xl:text-[3.9375rem] max-lg:text-[3.5rem] max-md:text-[2.625rem] max-sm:text-3xl;
  }
  h3 {
    @apply text-5xl max-xl:text-[2.7rem] max-lg:text-[2.4rem] max-md:text-[1.8rem] max-sm:text-xl;
  }
  h4 {
    @apply text-[2.5rem] max-xl:text-4xl max-lg:text-[2rem] max-md:text-[1.625rem] max-sm:text-[1.25rem];
  }
  h5 {
    @apply text-[2rem] max-xl:text-[1.8rem] max-lg:text-[1.6rem] max-md:text-[1.3rem] max-sm:text-base;
  }
  h6 {
    @apply text-xl max-sm:text-base;
  }
  a,
  p {
    @apply text-base text-accent max-lg:text-[0.93rem] max-sm:text-sm;
  }
}

@layer components {
  .primary-btn {
    @apply bg-primary text-white py-2 px-4 rounded-full;
  }
  .highlight-link {
    @apply underline underline-offset-2;
  }
}
